.portfolio {
  display: flex;
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top 130px left 0px;

  aside {
    position: sticky;
    top: 70px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    flex: 1 0 20%;
  }

  main {
    padding: 50px;
    margin-right: 120px;
  }
}
