.title {
    img {
        border-radius: 50%;
        margin-left: 15px;
    }

    h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;

        margin: 0;
        margin-top: 16px;
        z-index: 2;
        position: relative;

        color: #141627;
        text-shadow: -1px -1px 0 #d9d9d9, 1px -1px 0 #d9d9d9, -1px 1px 0 #d9d9d9, 1px 1px 0 #d9d9d9;
    }

    em {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 53px;

        display: block;
        position: relative;
        top: -20px;
        z-index: 1;
        
        text-transform: lowercase;
        color: #F95A55;
    }
}

@media (max-width: 1023px) {
    .title {
        div {
            text-align: center;
        }
        img {
            margin-left: 0;
        }
    }
}